pipeline/table_watermark.json
{
	"name": "table_watermark",
	"properties": {
		"activities": [
			{
				"name": "LookupOldWatermark",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Watermarkertable",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "LookupNewWatermark",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT MAX(LastModifyTime) as NewWatermarkValue FROM Usuarios;",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlUsuarios",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Copydata_Usuario",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "LookupNewWatermark",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "LookupOldWatermark",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 2,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT * FROM Usuarios \nWHERE LastModifyTime > '@{activity('LookupOldWatermark').output.firstRow.WatermarkValue}' \nAND LastModifyTime <= '@{activity('LookupNewWatermark').output.firstRow.NewWatermarkValue}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "AzureSqlUsuarios",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "UsuariosDestinoTable",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Stored procedure_watermarker",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Copydata_Usuario",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[UpdateWatermark]",
					"storedProcedureParameters": {
						"LastModifiedtime": {
							"value": {
								"value": "@activity('LookupNewWatermark').output.firstRow.NewWatermarkValue",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"TableName": {
							"value": "usuarios",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabaseLinkedService",
					"type": "LinkedServiceReference"
				}
			}
		],
		"variables": {
			"NameTable": {
				"type": "String",
				"defaultValue": "Usuarios"
			}
		},
		"annotations": [],
		"lastPublishTime": "2026-02-11T18:09:58Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}